@page
@model PruebaCastor.Pages.ErrorModel
@{
}
<div id="mensaje" style="display:none">
    <div class="alert" role="alert">
        <h4 id="titleMsj"> </h4>
        <p style="white-space:pre-wrap" id="dataMsj">

        </p>
    </div>
</div>