@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Bienvenidos</h1>
@* boton de redireccionamiento a spotify para el inicio de sesion *@
 @* <button id="btninicio" class="btn btn-primary" onclick="loginWithSpotify()">Iniciar sesión con Spotify</button> *@